/* Your custom styles */
.boarditem {
    font-size: 3em;
    width: 1.5em;
    height: 1.5em;
    display: block;
    padding: .1em;
    background-color: #DDD;
    margin: .1em;
    border-radius: .1em;
    text-align: center;
    transition: background-color .15s, box-shadow .15s;
}

.board {
    margin :auto;
}

.ajaxboard {
    text-align: center;
}

.naughts {
    background-color: #1A237E;
}

.crosses {
    background-color: #D84315;
}

.naughts, .crosses {
    color: white;
}

.boarditem svg {
    display: block;
    margin: auto;
    margin-top: .15em;
}

.unclaimed:hover {
    background-color: #AAA;
    box-shadow: .05em .05em .6em grey;
}

.darken {
    background-color: rgba(0,0,0,0.04)
}

.statcircle {
    font-size: 3em;
    width: 3em;
    height: 3em;
    border-radius: 3em;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    margin-bottom: .5em;
}

.statcontent {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.statico {
    font-size: .3em;
    display: block;
    margin-top: -.5em;
}

.spinner {
    -webkit-animation: rotator 1.4s linear infinite;
            animation: rotator 1.4s linear infinite;
  }
  
  @-webkit-keyframes rotator {
    0% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(270deg);
              transform: rotate(270deg);
    }
  }
  
  @keyframes rotator {
    0% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(270deg);
              transform: rotate(270deg);
    }
  }
  .path {
    stroke-dasharray: 187;
    stroke-dashoffset: 0;
    -webkit-transform-origin: center;
            transform-origin: center;
    -webkit-animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
            animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
  }
  
  @-webkit-keyframes colors {
    0% {
      stroke: #4285F4;
    }
    25% {
      stroke: #DE3E35;
    }
    50% {
      stroke: #F7C223;
    }
    75% {
      stroke: #1B9A59;
    }
    100% {
      stroke: #4285F4;
    }
  }
  
  @keyframes colors {
    0% {
      stroke: #4285F4;
    }
    25% {
      stroke: #DE3E35;
    }
    50% {
      stroke: #F7C223;
    }
    75% {
      stroke: #1B9A59;
    }
    100% {
      stroke: #4285F4;
    }
  }
  @-webkit-keyframes dash {
    0% {
      stroke-dashoffset: 187;
    }
    50% {
      stroke-dashoffset: 46.75;
      -webkit-transform: rotate(135deg);
              transform: rotate(135deg);
    }
    100% {
      stroke-dashoffset: 187;
      -webkit-transform: rotate(450deg);
              transform: rotate(450deg);
    }
  }
  @keyframes dash {
    0% {
      stroke-dashoffset: 187;
    }
    50% {
      stroke-dashoffset: 46.75;
      -webkit-transform: rotate(135deg);
              transform: rotate(135deg);
    }
    100% {
      stroke-dashoffset: 187;
      -webkit-transform: rotate(450deg);
              transform: rotate(450deg);
    }
  }
  