/* Your custom styles */
.boarditem {
    font-size: 3em;
    width: 1.5em;
    height: 1.5em;
    display: block;
    padding: .1em;
    background-color: #DDD;
    margin: .1em;
    border-radius: .1em;
    text-align: center;
    transition: background-color .15s, box-shadow .15s;
}

.naughts {
    background-color: #1A237E;
}

.crosses {
    background-color: #D84315;
}

.naughts, .crosses {
    color: white;
}

.boarditem svg {
    display: block;
    margin: auto;
    margin-top: .15em;
}

.unclaimed:hover {
    background-color: #AAA;
    box-shadow: .05em .05em .6em grey;
}